.title {
    text-align: center;
    width: 100%;
    margin: 20px 0 20px 0;
    font-size: 2em;
}

.container {
    display: flex;
    flex-direction: row;
}

.column-video {
    flex-grow: 1;
    margin-bottom: auto;
    width: 300px;
}

.column-graph {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}


